.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #17191F;
  font-size: 19px;
  width: inherit;
}

.footer a {
  margin-left: 8px;
}
