* form {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

label {
  color: aliceblue;
  text-align: left;
  display: block;
}
input, select {
  display: block;
}

input {
  height: 20px;
  border-radius: 5px;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.form-group {
  display: flex;
  margin-left: 5rem;
}

#input_name {
  width: 250px;
}

#input_price {
  width: 5rem;
}

#input_cep {
  width: 5rem;
}

#label_cep {
  margin-left: 40px;
}

#label_estado {
  margin-left: 40px;
}

#label_whats {
  margin-left: 20px;
}
.btn {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  margin-top: 10px;
  max-width: 100%;
  min-width: 10rem;
  padding: 14px 25px;
  text-decoration: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
