.container {
  /* max-width: 1000px; */
  /* width: 100vw; */
  /* padding: 0 2rem; */
  font-size: 25px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App h1 {
  margin: 30px 0;
}
